<!DOCTYPE html>
<html lang="en" ng-app="MyApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS {{'app'}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>
<body style="padding:2rem;" >
    <div ng-controller="MyController">
      <form name="myForm" novalidate>
        <label for="name">Name</label>
        <input type="text" name="name" ng-model="name" value="" required>
      </form>
      <hr>
      <div ng-repeat="n in numbers track by $index">
        {{$index}} {{n}}
      </div>
      <input type="text" ng-model="number" name="" value="">
      <button type="button" name="button"ng-click="addNumber()">Add</button>
    </div>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="./app.js"></script>
  <script src="./controllers/MyController.js"></script>
</body>
</html>
