<!DOCTYPE html>
<html lang="en" ng-app="MyApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS {{'app'}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="padding:2rem;" >
    <h1>$http Example</h1>
    <div ng-controller="Controller1">
      <label for="name">Name</label>
      <input type="text" name="name" ng-model="user.name" value="">
      <label for="name">Edad</label>
      <input type="number" name="edad" ng-model="user.edad" value="">

      <button type="button" ng-click="loadUser()" name="button">Carga usuario</button>
    </div>
    <hr>
    <div ng-controller="Controller2">
      <h5>Aqui esta el otro controller</h5>
      {{user}}
      <button type="button" ng-click="sayHello()" name="button">Saluda</button>
    </div>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script>
  (function () {
    'use strict';

    angular.module('MyApp',[])
    .controller('Controller1',Controller1)
    .controller('Controller2',Controller2)
    .factory('myFactory',factoryFunction);

    Controller1.$inject=['$scope','myFactory'];
    function Controller1($scope,myFactory){
      $scope.user=myFactory.user;
      $scope.loadUser=function () {
        myFactory.loadUser();
      }
    }
    Controller2.$inject=['$scope','myFactory'];
    function Controller2($scope,myFactory){
      $scope.user=myFactory.user;
      $scope.sayHello=function () {
        myFactory.sayHello();
      }
    }
    factoryFunction.$inject=['$http']
    function factoryFunction($http) {
      return {
        user:{name:undefined,edad:undefined},
        loadUser:function () {
          var self = this;
          $http({
            method:'GET',
            url:'./user.json'
          }).then(function (res) {
              self.user.name=res.data.name;
              self.user.edad=res.data.edad;
            },function (res) {
              alert(res)
            }
          )
        },
        sayHello:function () {
          alert('Hi!');
        }
      }
    }


  })();

  </script>

</body>
</html>
